.modal {
    opacity: 0;
    display: flex;
    -webkit-transition: opacity 250ms ease-in-out;
    -moz-transition: opacity 250ms ease-in-out;
    -ms-transition: opacity 250ms ease-in-out;
    -o-transition: opacity 250ms ease-in-out;
    transition: opacity 250ms ease-in-out;
}

.modal:not(.is-active) {
    pointer-events: none;
}

.modal.is-active {
    opacity: 1;
}